* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background: #FFF;
  
}

.menu_bar{
  display: none;
}

section {
    border-radius: 5px;
    background-color: #FFF;
    padding: 20px;
}

header nav{
  background: #4CAF50;
  z-index:1000;
  max-width: 2000px;
  width: 100%;
}

header nav ul{
  list-style: none;
}

header nav ul li{
  display: inline-block;
  position: relative;
}

header nav ul li:hover{
  background:  #555
}

header nav ul li a{
  display: block;
  text-decoration: none;
  padding: 20px;
  color: #FFF;
}

header nav ul li a:hover{
  display: block;
  text-decoration: none;
  padding: 20px;
  color: #FFF;
}

header nav ul li a span{
  margin-right: 10px;
  color: #FFF;
}

header nav ul li:hover .children{
  display: block;
}

header nav ul li .children{
  display: none;
  background: #4CAF50;
  position:absolute;
  width: 200%;
  z-index:1000;
}

header nav ul li .children li{
  display: block;
  overflow: hidden;
  border-bottom: 1px solid rgba(255,255,255,.5);
}

header nav ul li .children li a{
  display: block;
}

header nav ul li .children li a span{
  float: right;
  position: relative;
  top: 3px;
  margin-right: 0px;
  margin-left: 10px;
}

.containerGauge {
    width: 350px;
    margin: 0 auto;
    text-align: center;
}

.gauge {
    width: 350px;
    height: 100%;
}

@media screen and (max-width: 800px){
  body{
    padding-top: 0px;
  }

  .menu_bar{
    display: block;
    width: 100%;
    position: relative;
    top: 0px;
    background: #4CAF50;
  }

  .menu_bar .bt-menu{
    display: block;
    padding: 20px;
    color: #FFF;
    overflow: hidden;
    font-size: 25px;
    font-weight: bold;
    text-decoration: none;
  }

  .menu_bar span{
    float: right;
    font-size: 40px;
  }

  header nav{
    width: 80%;
    height: calc(100% - 80px);
    position: fixed;
    left: -800px;
    margin: 0px;
    overflow: scroll;
  }

  header nav ul li{
    display: block;
    float: none;
    border-bottom: 1px solid rgba(255,255,255,.5);
  }

  header nav ul li a{
    display: block;
  }

  header nav ul li:hover .children{
    display: none;
  }

  header nav ul li .children{
    width: 100%;
    position: relative;  
  }

  header nav ul li .children li a{
    margin-left: 20px;
  }

  .containerGauge {
    width: 300px;
    margin: 0 auto;
    text-align: center;
  }
  .gauge {
    width: 300px;
    height: 100%;
  }
}

#logo{
  background-image: url(/images/logo.png), url(paper.gif);
  background-position: center;
  background-repeat: no-repeat;
  padding: 100px;
}





